[Desktop Entry]
Type=Application
Name=World of Azeria
Comment=World of Azeria is a multiplayer voxel MMORPG written in Rust
Exec=veloren-voxygen
Categories=Game;Simulation;
Keywords=azeria;world of azeria;mmorpg;voxel;multiplayer;roleplaying;
Icon=net.veloren.veloren
Terminal=false
